.secondaryButton {
  color: #78258d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 16px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #78258d;
  cursor: pointer;
  width: 100%;
}

.primaryButton {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  padding: 18px 18px;
  border-radius: 8px;
  background: #78258d;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
}
