.title {
  color: #232323;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 54px;
  letter-spacing: 0.32px;
  margin: 0;
  margin-bottom: 32px;
}

.student {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  margin-bottom: 16px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  border-radius: 20px;
  border: 1px solid #efefff;
  background: #fff;
  box-shadow: 0px 4px 20px 0px #f7f6fb;

  .point {
    background: -webkit-linear-gradient(283deg, #2e90d1 12%, #78258d 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.number {
  padding: 3px 9px;
  border-radius: 10px;
  background: #efefff;
  margin-right: 12px;
}

.link {
  text-decoration: none;
  color: var(--Blue, #2e90d1);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
