.card {
  height: 325px;
  border-radius: 10px;
  display: flex;
  padding: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.title {
  color: #232323;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 29.38px;
  letter-spacing: 0.26px;
  text-decoration: none;
}

.title:first-letter {
  text-transform: uppercase;
}

.plan {
  display: flex;
  flex-direction: column;
}

.hours,
.modules {
  color: #585858;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: 0.16px;

  .quantity {
    color: #333;
    font-weight: 700;
  }
}

.flagImg {
  height: 50px;
  width: 50px;
}

.more {
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  align-items: center;
  color: #8e49a0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.16px;
  gap: 10px;
  text-decoration: none;
}

.price {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.6px;
  letter-spacing: 0.2px;
}

@media (max-width: 1440px) {
  .card {
    height: auto;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
  }

  .hours,
  .modules {
    font-size: 14px;
    line-height: 17px;
  }

  .link {
    font-size: 14px;
    line-height: 20px;
    gap: 5px;
  }

  .price {
    font-size: 16px;
    line-height: 20px;
  }
}
