.container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 60px;
}

.title {
  margin: 0;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 54px;
  letter-spacing: 0.46px;
}

.blockNews {
  display: flex;
  gap: 40px;
}

.item {
  border-radius: 20px;
  border: 1px solid #efefff;
  box-shadow: 0px 4px 20px 0px #f7f6fb;
  width: 453px;
  padding: 40px;
}

.name {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  margin-bottom: 6px;
}

.date {
  color: #2e90d1;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.description {
  color: #585858;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-top: 10px;
  margin-bottom: 24px;
}

.more {
  display: flex;
  justify-content: space-between;
}

.type {
  padding: 5px 20px;
  background: #efefff;
  border-radius: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;

  a {
    text-decoration: none;
    color: #8e49a0;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.16px;
  }
}
