.item {
  display: flex;
}

.arrows {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.next,
.prev {
  width: 12px;
  height: 12px;
  background-color: #bb92c6;
  border: none;
  border-radius: 50%;

  &.active {
    background-color: #78258d;
  }
}
