.courseItem {
  min-width: 453px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px;
  border-radius: 20px;
  // background: var(--Purple-secondry, #efefff);
}

.cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  color: #333;
  font-style: normal;

  p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.16px;
  }

  .title {
    font-size: 32px;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0.32px;
  }
}

.info {
  margin-bottom: 16px;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;

  .number {
    font-weight: 700;
    letter-spacing: 0.16px;
    margin-right: 10px;
  }
}

.info + .info {
  margin-bottom: 24px;
}

@media (max-width: 1220px) {
  .courseItem {
    min-width: 360px;
    gap: 10px;
    padding: 40px;
  }
}
